body {
   background-color: #deebf7;
   font-family: sans-serif;
   scroll-behavior: smooth;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #111;
    color: white;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
  }

  nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
  }

  nav a:hover {
    text-shadow: 0 0 8px #ffcc00, 0 0 16px #ffcc00;
  }

  /* Glow für aktuell angeklicktes Kapitel */
  :target {
    animation: glow 1s ease-in-out;
    background-color: rgba(255, 165, 0, 0.1);
  }

  @keyframes glow {
    0% { box-shadow: 0 0 0px #ffcc00; }
    50% { box-shadow: 0 0 15px #ffcc00; }
    100% { box-shadow: 0 0 0px #ffcc00; }
  }

h2 {
   margin-top: 100px;
}
p {
   /*border: 1px solid black;*/
   margin: 5px;
   padding: 5px;
   font-size: 0.85rem;
}
